body {
  background-color: rgb(202, 202, 202);
}

.navbar-nav > li{
  margin-left: 10px;
}

#sidenav > li{
  margin-right: 10px;
  margin-left: 10px;
}

#search-bar {
  width: 100%;
}

.post-summary-meta-tags{
  padding-left: 0;
}

.fa-check{
  color: #5cb85c;
}

.notadmin{
  display: none;
}


#notifications {
    position: relative;
    display: block;
}

#notifications-list {
    display: none;
    border-radius: 5px;
}

#notifications-list p {
    font-size: .75em;
}
#notifications-list li {
    background-color: #eef0f3;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
}

#notifications-list * {
    margin: auto;
    font-size: .9em;
}

#notifications-icon:hover #notifications-list{
    display: flex;
    flex-direction: column-reverse;
    gap: .5em;

    width: 30em;
    padding: .5em;
    background-color: rgba(12, 27, 49, 0.79);
    box-shadow: 0 0 8px #2d3748;

    position: absolute;
    right: 3.5em;
    z-index: 1;
}
.tag-card{
  background-color: #c0c0c0;
}

.isFollowedTag{
  font-weight: bold;
  color: #5cb85c;
}

.isNotFollowedTag{
  color: #b85c5c;
}

div.card-body:has(.isFollowedTagCard){
  background-color: #f2ffba;
}
