body {
  background-color: rgb(202, 202, 202);
}

.navbar-nav > li{
  margin-left: 10px;
}

#sidenav > li{
  margin-right: 10px;
  margin-left: 10px;
}

#search-bar {
  width: 100%;
}

.post-summary-meta-tags{
  padding-left: 0;
}

.fa-check{
  color: #5cb85c;
}

.notadmin{
  display: none;
}

.tag-card{
  background-color: #c0c0c0;
}

.isFollowedTag{
  font-weight: bold;
  color: #5cb85c;
}

.isNotFollowedTag{
  color: #b85c5c;
}