openapi: 3.0.0

info:
  version: '1.0'
  title: 'hELP Web API'
  description: 'Web Resources Specification (A7) for LBAW2214'

servers:
- url: http://localhost:8000 #TODO voltar a pôr lbaw2214
  description: Local dev server

externalDocs:
  description: Find more info here.
  url: https://git.fe.up.pt/lbaw/lbaw2223/lbaw2214/-/wikis/home

tags:
  - name: 'M01: Authentication and Individual Profile'
  - name: 'M02: Questions'
  - name: 'M03: Users'
  - name: 'M04: User Administration and Static pages'

paths:

  /login:
    get:
      operationId: R101
      summary: 'R101: Login Form'
      description: 'Provide login form. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '200':
          description: 'Ok. Show Log-in UI'
    post:
      operationId: R102
      summary: 'R102: Login Action'
      description: 'Processes the login form submission. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
              required:
                    - email
                    - password

      responses:
        '302':
          description: 'Redirect after processing the login credentials.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to user profile.'
                  value: '/users/{id}'
                302Error:
                  description: 'Failed authentication. Redirect to login form.'
                  value: '/login'

  /logout:

    post:
      operationId: R103
      summary: 'R103: Logout Action'
      description: 'Logout the current authenticated user. Access: USR'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '302':
          description: 'Redirect after processing logout.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful logout. Redirect to login form.'
                  value: '/login'

  /register:
    get:
      operationId: R104
      summary: 'R104: Register Form'
      description: 'Provide new user registration form. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '200':
          description: 'Ok. Show Sign-Up UI'

    post:
      operationId: R105
      summary: 'R105: Register Action'
      description: 'Processes the new user registration form submission. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                username:
                  type: string
                email:
                  type: string
                password:
                  type: string
                profile_picture:
                  type: string
                  format: binary
                personal_text:
                  type: string
                password_check:
                  type: string
              required:
                - email
                - password
                - username
                - password_check

      responses:
        '302':
          description: 'Redirect after processing the new user information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to user profile.'
                  value: '/home'
                302Failure:
                  description: 'Failed authentication. Redirect to register form.'
                  value: '/register'

  /users/{id}:
    get:
      operationId: R106
      summary: 'R106: View user profile'
      description: 'Show the individual user profile. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Show User Profile UI'

  /users/{id}/edit:
    get:
      operationId: R107
      summary: 'R107: View user profile edit form'
      description: 'Show the edit form. Access: OWN, ADM, MOD'
      tags:
        - 'M01: Authentication and Individual Profile'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
          '200':
            description: 'Ok. Show edit form UI'

  /users/edit:
    patch:
      operationId: R108
      summary: 'R108: edit action'
      description: 'Submit user profile changes. Access: OWN, ADM, MOD'
      tags:
        - 'M01: Authentication and Individual Profile'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                user_id:
                  type: integer
                username:
                  type: string
                email:
                  type: string
                profile_picture:
                  type: string
                  format: binary
                personal_text:
                  type: string
              required:
                - user_id

      responses:
        '302':
          description: 'Redirect after processing the new user information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful edition. Redirect to user profile.'
                  value: '/users/{id}'
                302Failure:
                  description: 'Failed edition. Redirect to edit form.'
                  value: '/users/{id}/edit'

    delete:
      operationId: R109
      summary: 'R109: Delete user action'
      description: 'Delete user option. Access: OWN, ADM, MOD'
      tags:
        - 'M01: Authentication and Individual Profile'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                user_id:
                  type: integer
              required:
                - user_id

      responses:
        '200':
          description: 'Ok.'

  /users/{id}/myquestions:
    get:
      operationId: R110
      summary: 'R110: View questions from a user'
      description: 'Show the questions of the user with id = {id}. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Show questions from a user'


  /users/{id}/myanswers:
    get:
      operationId: R111
      summary: 'R111: View answers from a user'
      description: 'Show the answers of the user with id = {id}. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Show answers from a user'

  /questions:
    get:
      operationId: R201
      summary: 'R201: Get all questions'
      description: 'Return all questions. Filter and sort are optional but default sort is by date. Access: PUB'
      tags:
        - 'M02: Questions'
      parameters:
        - in: query
          name: sort
          description: Sorted by
          schema:
            type: string
          required: false
        - in: query
          name: filter
          description: Filter by
          schema:
            type: string
          required: false
      responses:
        '200':
          description: 'Ok. Show questions.'

  /questions/{id}:
    get:
      operationId: R202
      summary: 'R202: Get Question'
      description: 'Get a question page. Access: PUB'
      tags:
        - 'M02: Questions'
      parameters:
        - in: path
          name: id
          description: Question id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Show question page.'

  /questions/{id}/answer:

    post:
      operationId: R204
      summary: 'R204: Post an answer to a question'
      description: 'Post the answer. Access: USR'
      tags:
        - 'M02: Questions'
      parameters:
        - in: path
          name: id
          description: Sorted by
          schema:
            type: integer
          required: true

      requestBody:
          required: true
          content:
            application/x-www-form-urlencoded:
              schema:
                type: object
                properties:
                  text:
                    type: string
                required:
                      - text

      responses:
          '302':
            description: 'Redirect after processing the answer.'
            headers:
              Location:
                schema:
                  type: string
                examples:
                  302Success:
                    description: 'Successfully posted an answer. Redirect to question page.'
                    value: '/questions/{id}'
                  302Failure:
                    description: 'Failed posting. Redirect to question page.'
                    value: '/questions/{id}'

  /questions/ask:

    get:
      operationId: R205
      summary: 'R205: Get Page to Ask Question'
      description: 'Render the page to ask a question. Access: USR'
      tags:
        - 'M02: Questions'
      responses:
        '200':
          description: 'Ok. Show ask question page.'

    post:
      operationId: R206
      summary: 'R206: Post a question'
      description: 'Post a question. Access: USR'
      tags:
        - 'M02: Questions'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title:
                  type: string
                text_body:
                  type: string
              required:
                    - title
                    - text_body

      responses:
        '302':
          description: 'Redirect after processing the question.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successfully posted a question. Redirect to page of the created question.'
                  value: '/questions/{question_id}'
                302Failure:
                  description: 'Failed posting. Redirect to ask question page.'
                  value: '/questions/ask'

  /search/?query={query}&filters={filters}:
    get:
      operationId: R207
      summary: 'R207: Get search for posts'
      description: 'Render the page with the results for posts search. Access: PUB'
      tags:
        - 'M02: Questions'
      parameters:
      - in: path
        name: query
        description: search query
        schema:
          type: string
        required: true
      - in: path
        name: filters
        description: filters to apply to the search
        schema:
          type: string
        required: false
      responses:
        '200':
          description: 'Ok. Show search posts page.'


  /post/{id}/edit:
    get:
        operationId: R208
        summary: 'R208: Form to edit post'
        description: 'Render the page to edit a post. Access: OWN, MOD, ADM'
        tags:
          - 'M02: Questions'
        parameters:
        - in: path
          name: id
          description: Post id
          schema:
            type: integer
          required: true
        responses:
          '200':
            description: 'Ok. Show edit post page.'

  /posts/edit:
    patch:
      operationId: R209
      summary: 'R209: Edit post Action'
      description: 'Processes the editing form submission. Access: OWN, MOD, ADM'
      tags:
        - 'M02: Questions'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                post_id:
                  type: integer
                text_body:
                  type: string
                title:
                  type: string
              required:
                - post_id
                - text_body

      responses:
        '200':
          description: 'Ok.'

    delete:
      operationId: R210
      summary: 'R210: Delete post'
      description: 'Delete post. Access: OWN, MOD, ADM'
      tags:
        - 'M02: Questions'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                post_id:
                  type: integer
              required:
                - post_id

      responses:
        '200':
          description: 'Ok.'

  /:
    get:
      operationId: R301
      summary: 'R301: Shows the homepage'
      description: 'Displays the homepage of the website with a list of the top questions. Access: PUB'
      tags:
        - 'M03: Users'
      responses:
        '302':
          description: 'Redirect immediately to the homepage.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Redirect to the homepage.'
                  value: '/home'
                302Failure:
                  description: 'Failed to reach the page. Redirect to the homepage.'
                  value: '/home'

  /home:
    get:
      operationId: R302
      summary: 'R302: Shows the homepage'
      description: 'Displays the homepage of the website with a list of the top questions. Access: PUB'
      tags:
        - 'M03: Users'
      responses:
        '200':
          description: 'Ok. Show Top Questions'


  /personal_feed:
    get:
      operationId: R303
      summary: 'R303: Shows the personal feed.'
      description: 'Displays with a list of questions based on the preferences of the logged-in user. Access: USR'
      tags:
        - 'M03: Users'
      responses:
        '200':
          description: 'Ok. Show Personal Feed'


  /search_users/{query}:
    get:
      operationId: R304
      summary: 'R304: Shows the user search bar or display the search results.'
      description: 'Displays the search bar to search for user profiles or display the results of a search if a search query is present. ACCESS: PUB'
      tags:
        - 'M03: Users'

      parameters:
        - in: path
          name: query
          schema:
            type: string
          required: false

      responses:
          '200':
            description: 'Ok. Show user search page.'


    post:
      operationId: R305
      summary: 'R305 Search users by username'
      description: 'Processes the user search query. ACCESS: PUB'
      tags:
        - 'M03: Users'

      parameters: #search bar auto preenchida com base no url??
        - in: path
          name: query
          schema:
            type: string
          required: false

      requestBody:
        required: true
        content:
          text/plain:
            schema:
              type: string  #syntax correta? não tem de levar nome?


      responses:
        '302':
          description: 'Redirect after processing the search.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful search. Redirect search results.'
                  value: '/search_users/{query}'
                302Failure:
                  description: 'Failed to process the search. Redirect to user search.'
                  value: '/search_users'

  /admin/tags:
    post:
      operationId: R401
      summary: 'R401: Create tag'
      description: 'Create new tag. Access: ADM'
      tags:
        - 'M04: User Administration and Static pages'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                tag:
                  type: string
              required:
                - tag

      responses:
        '200':
          description: 'Ok.'
    delete:
      operationId: R402
      summary: 'R402: Delete tag'
      description: 'Delete tag. Access: ADM'
      tags:
        - 'M04: User Administration and Static pages'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                tag_id:
                  type: integer
              required:
                - tag_id

      responses:
        '200':
          description: 'Ok.'

  /admin/reported:
    get:
      operationId: R403
      summary: 'R403: Get all reported posts'
      description: 'Get all reported posts. Access: MOD, ADM'
      tags:
        - 'M04: User Administration and Static pages'

      responses:
        '200':
          description: 'Ok.'


